* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: block !important;
    padding: 0.5rem 1rem;
}

.box > span {
    color: white;
    font-weight: 600;
}

.box-success {
    background-color: rgb(54, 178, 126);
}

.box-fail {
    background-color: #dc3545;
}