@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    width: 100%;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.answer-box {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c757d;
    color: white;
}

.answer-box > span {
    font-size: large;
}

.answer-box-positive {
    background-color: #dc3545 !important;
}

.answer-box-negative {
    background-color: #28a745 !important;
}
